@import '~antd/dist/antd.css';
html, body, #root {
  height:100%;
  background-color:	#f9f9f9;
}
.LandingPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background: url("/../login.jpg")
    fixed no-repeat;
  background-size: cover; */
}

.order-chose {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 80px 30px;
  background-color: #ffffff;
}


.restaurantTitle {
  font-size: 25px;
  color: #000;
  margin-bottom: 10px;
}

.imgStyle {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.menuItemStyle {
  min-width: 230px;
    width: 40%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 42px;
}

.menuItemDesc p {
  padding-left: 10px;
}

.foodCart {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    
    text-align: center;
}

.cart-order {
  background-color: #FAFAD2;
  margin: auto;
  min-width: 280px;
  width: 400px;
  padding: 10px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

@media (max-width: 500px){
  .cart-order {
      width: 280px;
  }
}

.shopping-cart {
  position: absolute;
  bottom: 51px;
  left: 0;
  width: 100%;
}

.cart-outer {
  position: relative;
  width: 100%;
  padding: 10px 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #fff;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: large;
}